@import url("https://raw.githack.com/Maiolele/iseePepegaLULW/8a8029a/SiBadge.css");

/* main */
/* Icon fix :before */
div.message > div.msg > div.from > span.un {
    vertical-align: top;
    horizontal-align: left;
}

/* Icon fix */
#user-lists .list.room .user i.icon-chat-dj {
    top: 6px !important;
}

#chat-messages .from .icon,
#chat-messages .from .icon.icon-chat-dj {
    top: unset !important;
}

#waitlist .list .user .name i,
#waitlist .list .user .meta.is-staff .name i.icon-chat-dj {
    top: 2px !important;
}

#user-rollover .info .role i.icon-chat-dj {
    margin-top: unset !important;
}

#user-lists .list.room .user i {
    top: 6px !important;
}

/* RCS Vote Fix */

.community .room-controls {
    z-index: 1 !important;
}

.votes-rs {
    background: rgba(0, 0, 0, 0.75) !important;
}

.community .room-controls--desktop__item .btn-like.clicked {
    animation: rainbow 1s infinite;
}

/* Chat */

#chat .welcome {
    color: #ff0000;
    border-top: #ff0000 2px dotted;
    border-left: #ff0000 2px dotted;
    border-bottom: #ff0000 2px dotted;
    border-right: #ff0000 2px dotted;
}

#chat .log {
    background: rgba(20, 25, 34, 0.78) !important;
}

/* Fade */
#chat .cm {
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}

#chat .emote,
#chat .mention,
#chat .message,
#chat .moderation,
#chat .skip,
#chat .system,
#chat .update,
#chat .welcome {
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
    min-width: 100%;
}

/* Inline */
#chat .emote {
    min-height: 0px !important;
    background: rgba(0, 0, 0, 0.0) !important;
}

.emote .msg .text {
    display: inline !important;
    padding-left: 2px !important;
}

.emote .from .un {
    font-style: oblique;
}

.emote.role-dj .text {
    color: #fe8d6a;
}

.emote.role-bouncer .text {
    color: #90b0cf;
}

.emote.role-manager .text {
    color: #69ddff;
}

.emote.role-cohost .text {
    color: #ac76ff;
}

.emote.role-host .text {
    color: #ac76ff;
}

.emote.role-ambassador .text {
    color: #ff1d82;
}

.emote.role-admin .text {
    color: #ff2d2d;
}

#chat .cm.emote .icon,
#chat .cm.emote .badge-box,
.emote .rs-chat-title,
.emote .rcs-user-info {
    display: none !important;
}

#chat .emote .contents,
.emote .msg .from,
.emote .msg .text {
    display: inline !important;
}

.emote .msg {
    padding: 6px 6px 6px 16px !important;
}

.emote .delete-button {
    padding: 2px 7px 2px 7px !important;
}

/* Moderation Inline */
#chat .moderation {
    min-height: 0px !important;
    background: rgba(0, 0, 0, 0.0) !important;
}

.moderation .msg .text {
    display: inline !important;
    padding-left: 5px !important;
}

#chat .cm.moderation .icon,
#chat .cm.moderation .badge-box,
.moderation .rs-chat-title,
.moderation .rcs-user-info,
.moderation .timestamp {
    display: none !important;
}

#chat .moderation .contents,
.moderation .msg .from,
.moderation .msg .text {
    display: inline !important;
}

.moderation .msg {
    padding: 6px 6px 6px 16px !important;
}

/* Border */
.message.role-dj,
.emote.role-dj {
    border-right: #fe8d6a 3px solid !important;
}
.message.role-bouncer,
.emote.role-bouncer {
    border-left: #90b0cf 3px dotted !important;
    border-right: #90b0cf 3px dotted !important;
}

.message.role-manager,
.emote.role-manager {
    border-left: #69ddff 3px solid !important;
    border-right: #69ddff 3px solid !important;
}

.message.role-cohost,
.emote.role-cohost {
    border-left: #ac76ff 3px solid !important;
    border-right: #ac76ff 3px solid !important;
}

.message.role-host,
.emote.role-host {
    border-left: #ac76ff 3px solid !important;
    border-right: #ac76ff 3px solid !important;
}

.message.role-ambassador,
.emote.role-ambassador {
    border-left: #ff1d82 2px dotted !important;
    border-right: #ff1d82 2px dotted !important;
}

.message.role-admin,
.emote.role-admin {
    border-top: #ff2d2d 2px dotted;
    border-left: #ff2d2d 2px dotted;
    border-bottom: #ff2d2d 2px dotted;
    border-right: #ff2d2d 2px dotted;
}

.message.role-dj:hover,
.emote.role-dj:hover,
.message.role-bouncer:hover,
.emote.role-bouncer:hover,
.message.role-manager:hover,
.emote.role-manager:hover,
.message.role-cohost:hover,
.emote.role-cohost:hover,
.message.role-host:hover,
.emote.role-host:hover,
.message.role-ambassador:hover,
.emote.role-ambassador:hover {
    border-left-style: solid !important;
    border-right-style: solid !important;
    display: inline-block !important;
}
.message.role-admin:hover,
.emote.role-admin:hover {
    border-left-style: solid;
    border-right-style: solid;
    display: inline-block !important;
}

.message.role-host .msg .text::selection,
.emote.role-host .msg .text::selection,
.message.role-host .msg .text::-moz-selection,
.emote.role-host .msg .text::-moz-selection {
    color: #ac76ff;
}

.message.role-cohost .msg .text::selection,
.emote.role-cohost .msg .text::selection,
.message.role-cohost .msg .text::-moz-selection,
.emote.role-cohost .msg .text::-moz-selection {
    color: #ac76ff;
}

.message.role-manager .msg .text::selection,
.emote.role-manager .msg .text::selection,
.message.role-manager .msg .text::-moz-selection,
.emote.role-manager .msg .text::-moz-selection {
    color: #69ddff;
}

.message.role-bouncer .msg .text::selection,
.emote.role-bouncer .msg .text::selection,
.message.role-bouncer .msg .text::-moz-selection,
.emote.role-bouncer .msg .text::-moz-selection {
    color: #90b0cf;
}

.message.role-dj .msg .text::selection,
.emote.role-dj .msg .text::selection,
.message.role-dj .msg .text::-moz-selection,
.emote.role-dj .msg .text::-moz-selection {
    color: #fe8d6a;
}

.message.role-user .msg .text::selection,
.emote.role-user .msg .text::selection,
.message.role-user .msg .text::-moz-selection,
.emote.role-user .msg .text::-moz-selection {
    color: #777f92;
}

/* Custom */

/* Maiolele */ 
#user-rollover.id-43556438 .username,
#chat [data-cid^="43556438-"] span.un.clickable {
    animation: Maiolele 1s infinite !important;
}

#user-rollover.id-43556438 .info .role span:after {
    content: '';
}
.id-43556438 .msg .from i.icon-chat-bouncer,
#waitlist .list .user[data-uid="43556438"] .meta.is-staff .name .icon-chat-bouncer,
#user-rollover.id-43556438 .info .role i.icon-chat-bouncer,
#user-lists .list.room .user.id-43556438 .icon-chat-bouncer {
    background: url("https://i.imgur.com/7mIgVj3.png") no-repeat !important;
}
#user-rollover.id-43556438 .meta .thumb {
    border-color: #69DDFF !important;
}
.id-43556438 .msg .from.manager .un,
.id-43556438 .from .un,
#chat [data-cid^="43556438-"] span.un.clickable,
#waitlist .list .user[data-uid="43556438"] .meta.is-staff .name .icon-chat-manager + span,
#user-rollover.id-43556438 .info .role span,
#user-rollover.id-43556438 .meta .username,
#user-lists .list.room .user.id-43556438 .name {

  font-weight: bold;
  background-image: repeating-linear-gradient(90deg, #69DDFF, #00FF80);
  background-image: repeating-conic-linear-gradient(90deg, #69DDFF, #00FF80); 
  background-size: 1000%;
  background-repeat: repeat;
  background-color: #f3ec78;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
 animation: Maiolele 10s ease-in-out infinite !important; 
}

#chat .cm.message.id-43556438,
#chat .cm.emote.id-43556438 {
    border-left: #FF0000 /*#FF1010*/ !important;
    border-right: #FF0000 /*#FF1010*/ !important;
    border-left-style: solid !important;
    border-right-style: solid !important;
    display: inline-block !important;
    font-size: 13.2px;

}

#chat .cm.message.id-43556438
{color: #4BFFA6 ;}

#chat .cm.message.id-43556438:hover,
#chat .cm.emote.id-43556438:hover {
    border-left-style: solid !important;
    border-right-style: solid !important;
    display: inline-block !important;
}
.emote.id-43556438 .text {
    animation: Maiolele 1s infinite !important;
} 

/* Jade */
#user-rollover.id-43912442 .username,
#chat [data-cid^="43912442-"] span.un.clickable {
    animation: twitchmod 1s infinite !important;
}

#user-rollover.id-43912442 .info .role span:before {
    content: 'Twitch Mod / ';
}

.id-43912442 .msg .from i.icon-chat-manager,
#waitlist .list .user[data-uid="43912442"] .meta.is-staff .name .icon-chat-manager,
#user-rollover.id-43912442 .info .role i.icon-chat-manager,
#user-lists .list.room .user.id-43912442 .icon-chat-manager {
    background: url("https://i.imgur.com/tAGatAc.png") no-repeat !important;
}

#user-rollover.id-43912442 .meta .thumb {
    border-color: #14b866 !important;
}

.id-43912442 .msg .from.manager .un,
.id-43912442 .from .un,
#chat [data-cid^="43912442"] span.un.clickable,
#waitlist .list .user[data-uid="43912442"] .meta.is-staff .name .icon-chat-manager + span,
#user-rollover.id-43912442 .info .role span,
#user-rollover.id-43912442 .meta .username,
#user-lists .list.room .user.id-43912442 .name {
    animation: twitchmod 1s infinite !important;
}
#chat .cm.message.id-43912442,
#chat .cm.emote.id-43912442 {
    border-left: #14b866 3px dotted !important;
    border-right: #14b866 3px dotted !important;
}
#chat .cm.message.id-43912442:hover,
#chat .cm.emote.id-43912442:hover {
    border-left-style: solid !important;
    border-right-style: solid !important;
    display: inline-block !important;
}
.emote.id-43912442 .text {
    animation: twitchmod 1s infinite !important;
}

/* Darki */
#user-rollover.id-43912502 .username,
#chat [data-cid^="43912502-"] span.un.clickable {
    animation: Darkinhell 1s infinite !important;
}

#user-rollover.id-43912502 .info .role span:after {
    content: '';
}
.id-43912502 .msg .from i.icon-chat-bouncer,
#waitlist .list .user[data-uid="43912502"] .meta.is-staff .name .icon-chat-bouncer,
#user-rollover.id-43912502 .info .role i.icon-chat-bouncer,
#user-lists .list.room .user.id-43912502 .icon-chat-bouncer {
    background: url("https://i.imgur.com/1ZXIvAf.png") no-repeat !important;
}
#user-rollover.id-43912502 .meta .thumb {
    border-color: #3e3e3e !important;
}
.id-43912502 .msg .from.bouncer .un,
.id-43912502 .from .un,
#chat [data-cid^="43912502-"] span.un.clickable,
#waitlist .list .user[data-uid="43912502"] .meta.is-staff .name .icon-chat-bouncer + span,
#user-rollover.id-43912502 .info .role span,
#user-rollover.id-43912502 .meta .username,
#user-lists .list.room .user.id-43912502 .name {
    animation: Darkinhell 1s infinite !important;
}
#chat .cm.message.id-43912502,
#chat .cm.emote.id-43912502 {
    border-left: #3e3e3e 3px dotted !important;
    border-right: #3e3e3e 3px dotted !important;
}
#chat .cm.message.id-43912502:hover,
#chat .cm.emote.id-43912502:hover {
    border-left-style: solid !important;
    border-right-style: solid !important;
    display: inline-block !important;
}
.emote.id-43912502 .text {
    animation: Darkinhell 1s infinite !important;
}

/* Ciabatta */
#user-rollover.id-43912456 .username,
#chat [data-cid^="43912456-"] span.un.clickable {
    animation: UomoCiabatta 1s infinite !important;
}

#user-rollover.id-43912456 .info .role span:after {
    content: '';
}
.id-43912456 .msg .from i.icon-chat-bouncer,
#waitlist .list .user[data-uid="43912456"] .meta.is-staff .name .icon-chat-bouncer,
#user-rollover.id-43912456 .info .role i.icon-chat-bouncer,
#user-lists .list.room .user.id-43912456 .icon-chat-bouncer {
    background: url("https://i.imgur.com/1ZXIvAf.png") no-repeat !important;
}
#user-rollover.id-43912456 .meta .thumb {
    border-color: #3e3e3e !important;
}
.id-43912456 .msg .from.bouncer .un,
.id-43912456 .from .un,
#chat [data-cid^="43912456-"] span.un.clickable,
#waitlist .list .user[data-uid="43912456"] .meta.is-staff .name .icon-chat-bouncer + span,
#user-rollover.id-43912456 .info .role span,
#user-rollover.id-43912456 .meta .username,
#user-lists .list.room .user.id-43912456 .name {
    animation: UomoCiabatta 1s infinite !important;
}
#chat .cm.message.id-43912456,
#chat .cm.emote.id-43912456 {
    border-left: #3e3e3e 3px dotted !important;
    border-right: #3e3e3e 3px dotted !important;
}
#chat .cm.message.id-43912456:hover,
#chat .cm.emote.id-43912456:hover {
    border-left-style: solid !important;
    border-right-style: solid !important;
    display: inline-block !important;
}
.emote.id-43912456 .text {
    animation: UomoCiabatta 1s infinite !important;
}

/* Nerdheim */
#user-rollover.id-46139813 .username,
#chat [data-cid^="46139813-"] span.un.clickable {
    animation: Nerdheim 1s infinite !important;
}

#user-rollover.id-46139813 .info .role span:after {
    content: '';
}
.id-46139813 .msg .from i.icon-chat-bouncer,
#waitlist .list .user[data-uid="46139813"] .meta.is-staff .name .icon-chat-bouncer,
#user-rollover.id-46139813 .info .role i.icon-chat-bouncer,
#user-lists .list.room .user.id-46139813 .icon-chat-bouncer {
    background: url("https://i.imgur.com/7mIgVj3.png") no-repeat !important;
}
#user-rollover.id-46139813 .meta .thumb {
    border-color: #3e3e3e !important;
}
.id-46139813 .msg .from.bouncer .un,
.id-46139813 .from .un,
#chat [data-cid^="46139813-"] span.un.clickable,
#waitlist .list .user[data-uid="46139813"] .meta.is-staff .name .icon-chat-bouncer + span,
#user-rollover.id-46139813 .info .role span,
#user-rollover.id-46139813 .meta .username,
#user-lists .list.room .user.id-46139813 .name {
    animation: Nerdheim 10s infinite !important;
}
#chat .cm.message.id-46139813,
#chat .cm.emote.id-46139813 {
    border-left: #3e3e3e 3px dotted !important;
    border-right: #3e3e3e 3px dotted !important;
}
#chat .cm.message.id-46139813:hover,
#chat .cm.emote.id-46139813:hover {
    border-left-style: solid !important;
    border-right-style: solid !important;
    display: inline-block !important;
}
.emote.id-46139813 .text {
    animation: Nerdheim 1s infinite !important;
}

/* Gatsu_DS */
#user-rollover.id-42613961 .username,
#chat [data-cid^="42613961-"] span.un.clickable {
    animation: rainbow  1s infinite !important;
}

#user-rollover.id-42613961 .info .role span:before {
    content: 'Twitch Mod / ';
}

.id-42613961 .msg .from i.icon-chat-cohost,
#waitlist .list .user[data-uid="42613961"] .meta.is-staff .name .icon-chat-cohost,
#user-rollover.id-42613961 .info .role i.icon-chat-host,
#user-lists .list.room .user.id-42613961 .icon-chat-cohost {
    background: url("https://i.imgur.com/tAGatAc.png") no-repeat !important;
}

#user-rollover.id-42613961 .meta .thumb {
    border-color: #14b866 !important;
}

.id-42613961 .msg .from.cohost .un,
.id-42613961 .from .un,
#chat [data-cid^="42613961"] span.un.clickable,
#waitlist .list .user[data-uid="42613961"] .meta.is-staff .name .icon-chat-cohost + span,
#user-rollover.id-42613961 .info .role span,
#user-rollover.id-42613961 .meta .username,
#user-lists .list.room .user.id-42613961 .name {
    animation: rainbow  1s infinite !important;
}
#chat .cm.message.id-42613961,
#chat .cm.emote.id-42613961 {
    border-left: #14b866 3px dotted !important;
    border-right: #14b866 3px dotted !important;
}
#chat .cm.message.id-42613961:hover,
#chat .cm.emote.id-42613961:hover {
    border-left-style: solid !important;
    border-right-style: solid !important;
    display: inline-block !important;
}
.emote.id-42613961 .text {
    animation: rainbow  1s infinite !important;
}
